# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.nav
*.out
*.ps
*.snm
*.toc
*.vrb
*.fdb_latexmk
*.fls
*.synctex.gz

# LaTeX editor files
*.bak
*.backup
*.swp
*.synctex.gz
*.synctex.gz(busy)

# Python junk files
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyp

# Zip files
*.zip
.DS_Store
*.pdf

# Next js gitignore
.next/
web/frontend/.pnpm-store/
web/frontend/node_modules/
web/frontend/pnpm-lock.yaml
web/frontend/package-lock.json
web/frontend/yarn.lock
web/frontend/bun.lockb
web/frontend/pnpm-workspace.yaml
web/frontend/pnpm-workspace.yaml.lock
node_modules/
pnpm-store/
bun.lockb
pnpm-workspace.yaml



#fast api gitignore
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env